@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Create Component */
  .btn-purple {
    background-color: #238934;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
  }
}

@layer base {
  /* Edit Base Components  */
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}

@layer utilities {
  /* Add utilities here of you own */
}
